files:
  "/var/app/current/backend/.env":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      APP_PORT=3000

      ### DB_HOST could be remote host, proxy or localhost URL but must be mysql
      DB_HOST=${DB_SERVER}
      DB_PORT=${DB_PORT}
      DB_NAME=${DB_NAME}

      CRED=from_env

      ### If you are Passing Credentials Directly from ENV
      DB_USER=${DB_USERNAME}
      DB_PASSWORD=${DB_PASSWORD}

  "/var/app/current/frontend/.env":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      VITE_API_URL=http://174.129.185.253:3000
