packages:
  yum:
    amazon-ssm-agent: []
    nodejs: []

container_commands:
  01_install_pm2:
    command: "npm install -g pm2"

  02_install_backend_dependencies:
    command: "npm install"
    cwd: "/var/app/staging/backend"

  03_install_frontend_dependencies:
    command: "npm install"
    cwd: "/var/app/staging/frontend"

  04_build_frontend:
    command: "npm run build"
    cwd: "/var/app/staging/frontend"
