container_commands:
  01_install_frontend_dependencies:
    command: "npm install"
    cwd: "/var/app/staging/frontend"

  02_install_backend_dependencies:
    command: "npm install"
    cwd: "/var/app/staging/backend"

  03_remove_existing_pm2_processes:
    command: "pm2 delete frontend backend || true"

  04_build_frontend:
    command: "npm run build"
    cwd: "/var/app/staging/frontend"
