files:
  "/home/ubuntu/Node_Project/frontend/.env":
    mode: "000644"
    owner: root
    group: root
    content: |
      VITE_API_URL=http://54.236.46.163:3000

commands:
  01_install_npm:
    command: "apt-get update && apt-get install -y npm"

  02_install_pm2:
    command: "npm install -g pm2"

  03_install_frontend_dependencies:
    command: "npm install"
    cwd: /home/ubuntu/Node_Project/frontend

  04_install_backend_dependencies:
    command: "npm install"
    cwd: /home/ubuntu/Node_Project/backend

container_commands:
  01_build_frontend:
    command: "npm run build"
    cwd: /home/ubuntu/Node_Project/frontend

  02_start_backend:
    command: "pm2 start /home/ubuntu/Node_Project/backend/app.js --name backend"
